.SearchPage {
  overflow: hidden;
}
.Search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.Search button {
  margin-top: 10px;
}
.showPayload {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  transition: 0.3s;
}
.showPayload .data_content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 0px;
  width: 190px;
  min-height: 140px;
  max-height: 140px;
  margin: 0;
  padding: 0;
  transition: 0.3s;
}

.showPayload .data_content > * {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 140px;
  margin: 0;
  padding: 0;
  box-shadow: 0px 0px 4px black;
  border-radius: 10px 10px 0px 0px;
}
.showPayload .data_content > span {
  width: 190px;
  height: 140px !important;
  box-shadow: 0px 0px 0px black;
}
.showPayload .data_content .data_complete {
  background-color: #18283b;
  position: relative;
  display: flex;
  justify-content: center;
  color: white;
  height: 20px;
  padding-block: 10px;
  border-radius: 0px 0px 10px 10px;
  transition: 0.3s;
  cursor: pointer;
  box-shadow: 0px 0px 4px black;
}
.showPayload .data_content .jsonCSS {
  position: relative;
  transition: 0.3s;

  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  height: 0px;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  font-size: 11px;
  background-color: #18283b;
  border-radius: 0px 0px 10px 10px;
}

.showPayload .data_content .jsonCSS ul {
  text-align: left;
  margin: 0 !important;
  padding: 0px !important;
  padding-left: 2px !important;
  background-color: #18283b !important;
}

.data_complete svg {
  pointer-events: none;
}
.showPayload img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.SearchSection {
  flex: 85;
  background-color: white;
  height: 90vh;
  overflow: auto;
  color: black;
}
.SearchSection::-webkit-scrollbar {
  width: 8px;
}
.SearchSection::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background-color: #f0bb0c;
}

/* Handle on hover */
.SearchSection::-webkit-scrollbar-thumb:hover {
  background: #d2a40d;
}

.Navos {
  position: relative;
  color: white;
  display: flex;
  margin: 0;
  flex-wrap: wrap;
  height: 100vh;
}
.NavUp {
  background-color: #18283b;
  margin: 0;
  padding-inline: 20px;
  width: 100%;
  flex: 1 1 1;
  border-left: solid black;
  height: 10vh;
  z-index: 99;
  border-bottom: solid black;
}
.NavLeft {
  top: 5%;
  left: 2%;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 0px 1px 2px rgb(0, 0, 0);
  overflow-y: scroll;
  scrollbar-track-color: red;
  scrollbar-color: black;
  padding: 20px;
  position: relative;
  height: 70.5vh;
  width: 15%;
  flex: 15;
  margin-right: 39px;
  background-color: #18283b;
  direction: rtl;
  text-align: justify;
}
.NavLeft * {
  direction: ltr;
}
.NavLeft > h4 {
  flex: 1 1 1;
  text-align: center;
}
.NavLeft > div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.NavLeft > div * {
  transition: 0.1s;
  cursor: pointer;
}
.NavLeft > div *:hover {
  color: #f0bb0c;
}
.NavLeft::-webkit-scrollbar {
  width: 8px;
}
.NavLeft::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background-color: #f0bb0c;
}

/* Handle on hover */
.NavLeft::-webkit-scrollbar-thumb:hover {
  background: #d2a40d;
}
.jsonCSS::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: #18283b;
  border-radius: 0px 0px 10px 0px;
}
.jsonCSS::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background-color: #f0bb0c;
}

/* Handle on hover */
.jsonCSS::-webkit-scrollbar-thumb:hover {
  background: #d2a40d;
}

.slide-in-fwd-center {
  -webkit-animation: slide-in-fwd-center 0.4s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-4-29 2:31:52
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-fwd-center
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
